.green {
    background-color:green;
    color: white;
    padding: 15px;
    margin-bottom: 30px;
    border: none;
    width: 30%;
}

.orange {
    background-color: orange;
    color: white;
    padding: 15px;
    border: none;
    width: 30%;
}

.yellow {
    background-color:yellow;
    color: black;
    padding: 15px;
    margin-bottom: 30px;
    border: none;
    width: 30%;
}

.red {
    background-color: red;
    color: white;
    padding: 15px;
    margin-bottom: 30px;
    border: none;
    width: 30%;
}

.purple {
    background-color: purple;
    color: white;
    padding: 15px;
    margin-bottom: 30px;
    border: none;
    width: 30%;
}
